body:has(#loginForm),
body:has(#RegistrationForm) {
	background-color: #0e0f11;
	background-image: url('../assets/LoginBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}
